# idea
*.iml
.idea/

# logs
logs/
pm2logs/
*.log

# node
node_modules/

# mac
_MACOSX/
.DS_store

# config
proxy.js
mysql.config.js
mysqlConfig.js
app.config.json
.vscode/

# pic
huahua-pic/
huahua-games/
huahua-manager/


