# Package Files
*.jar
*.war
*.ear

# eclipse conf
.project

# idea conf
*.iml
.idea/

# logs
logs/
pm2logs/
*.log

# node
node_modules/

# mac
_MACOSX/
.DS_store

#config
proxy.js
mysql.config.js
mysqlConfig.js


