<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>花花-后台管理</title>
	<link rel="stylesheet"  type="text/css" href="dist/css/common.css">
	<link rel="stylesheet"  type="text/css" href="dist/css/login.css">
</head>
<body>
	<div class="login-w">
		<form action="" class="form-login" method="post">
			<div class="login-row">
				<p><input type="text" placeholder="User name" name="userName" id="userName"></p>
			</div>
			<div class="login-row">
				<p><input type="password" placeholder="Password" name="password" id="password"></p>
			</div class="login-row">
			<div class="login-row">
				<p><input type="submit" value="Login In" id="login" class="btn loginBtn"></p>
			</div>
		</form>
	</div>
</body>
<script src="dist/js/common.js"></script>
<script src="dist/js/login.js"></script>
</html>