*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #444;
  /*background-image: url(../images/qianxun_bg.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
}
a{
	text-decoration: none;
	color: #444;
}
.clearfix:after,.clearfix:before{
	display: block;
	content: '';
	line-height: 0;
}
.clearfix:after{
	clear: both;
}
input,textarea{outline: none;-webkit-appearance: none;}


.btn{display: inline-block;width: 80px;text-align: center;height: 30px;line-height: 30px;border-radius: 5px;}
.addBtn{color: #fff;background-color: #1FC1D5;}
.delBtn{color: #fff;background-color: #F67256;}
.editBtn{margin-top: 10px;color: #fff;background-color: #DFD90D;}
.submitBtn{border: none;color: #fff;background-color: #05B1F4;cursor: pointer;}
.form-row{padding: 15px 0;}
.form-btns{text-align: center;}
textarea{vertical-align: top;height: 80px;}
input[type="text"],input[type="password"],textarea{border: 1px solid #ccc;border-radius: 5px;width: 240px;padding: 4px;line-height: 16px;}

